<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.muhanzi.notify">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ReportedSpams"
            android:parentActivityName=".activities.SettingsActivity"
            android:theme="@style/ReportedSpamTheme"/>
        <activity
            android:name=".activities.AddDictionary"
            android:parentActivityName=".activities.SettingsActivity"
            android:theme="@style/AddDictionary" />
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTask"
            android:persistent="true"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activities.SplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ShowFragments"
            android:screenOrientation="portrait"
            android:theme="@style/FragmentsTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />

        <receiver android:name=".broadcast_receivers.SMSReceived">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.TryService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.ServiceWithAlarmManager"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.SpeakTextService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.RecognitionService"
            android:enabled="true"
            android:exported="true" />
    </application>


</manifest>